In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import pickle
%matplotlib inline

In [2]:
alz = pd.read_csv("D:\\Studies\\6 th sem\\OSP\\Data Set\\oasis_longitudinal.csv")
alz2 = pd.read_csv("D:\\Studies\\6 th sem\\OSP\\Data Set\\oasis_cross-sectional.csv")

In [3]:
alz.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [4]:
alz.dtypes

Subject ID     object
MRI ID         object
Group          object
Visit           int64
MR Delay        int64
M/F            object
Hand           object
Age             int64
EDUC            int64
SES           float64
MMSE          float64
CDR           float64
eTIV            int64
nWBV          float64
ASF           float64
dtype: object

In [5]:
alz.apply(lambda x:sum(x.isnull()),axis = 0)

Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [6]:
alz = alz.fillna(method='ffill')
alz2 = alz2.fillna(method='ffill')

In [7]:
alz.apply(lambda x:sum(x.isnull()),axis = 0)

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [8]:
alz.mean()

Visit          1.882038
MR Delay     595.104558
Age           77.013405
EDUC          14.597855
SES            2.455764
MMSE          27.335121
CDR            0.290885
eTIV        1488.128686
nWBV           0.729568
ASF            1.195461
dtype: float64

In [9]:
alz.drop(['MRI ID'], axis=1, inplace=True)
alz.drop(['Visit'], axis=1, inplace=True)

In [10]:
alz['CDR'].replace(to_replace=0.0, value='A', inplace=True)
alz['CDR'].replace(to_replace=0.5, value='B', inplace=True)
alz['CDR'].replace(to_replace=1.0, value='C', inplace=True)
alz['CDR'].replace(to_replace=2.0, value='D', inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
for x in alz.columns:
    f = LabelEncoder()
    alz[x] = f.fit_transform(alz[x])

In [12]:
for x in alz2.columns:
    f = LabelEncoder()
    alz2[x] = f.fit_transform(alz2[x])

In [13]:
df3 = pd.concat([alz,alz2],sort = False)

In [14]:
df3 = df3.fillna(method = 'ffill')
df3.head()

,Subject ID,Group,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,ID,Educ,Delay
0,0.0,2.0,0.0,1,0,27,5.0,1,14,0,284,35,1,NaN,NaN,NaN
1,0.0,2.0,15.0,1,0,28,5.0,1,17,0,285,20,0,NaN,NaN,NaN
2,1.0,1.0,0.0,1,0,15,3.0,1,10,1,231,73,52,NaN,NaN,NaN
3,1.0,1.0,32.0,1,0,16,3.0,1,15,1,254,51,32,NaN,NaN,NaN
4,1.0,1.0,185.0,1,0,20,3.0,1,9,1,238,40,46,NaN,NaN,NaN

In [15]:
train,test = train_test_split(alz,test_size=0.25)

In [16]:
X_train = train[['ASF', 'Age', 'EDUC', 'Group',  'Hand', 'M/F','MMSE','MR Delay','SES','eTIV','nWBV']]
y_train = train.CDR
X_test = test[['ASF', 'Age', 'EDUC', 'Group',  'Hand', 'M/F','MMSE','MR Delay','SES','eTIV','nWBV']]
y_test = test.CDR

In [17]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler().fit(X_train)
X_train = sc_X.transform(X_train)
X_test = sc_X.transform(X_test)

c:\users\giridhar sundaram\anaconda3\envs\alzhemier\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\giridhar sundaram\anaconda3\envs\alzhemier\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\giridhar sundaram\anaconda3\envs\alzhemier\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [18]:
y_train=np.ravel(y_train)
X_train=np.asarray(X_train)

y_test=np.ravel(y_test)
X_test=np.asarray(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver = 'lbfgs', multi_class = 'auto')
classifier.fit(X_train,y_train)
prediction = classifier.predict(X_test)
print(classifier.score(X_train, y_train))
print(classifier.score(X_test, y_test))

0.8387096774193549
0.7872340425531915

In [20]:
filename = 'LogisticRegression.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [21]:
y_pred = classifier.predict(X_test)
y_pred
print(X_test[0])

[ 1.1537356   0.41439115 -0.25506719 -0.59993353  0.          1.18539969
  0.45902563  0.44008173  0.48045838 -1.15519612 -0.99712456]

In [22]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[44,  2,  0],
       [ 7, 26,  7],
       [ 0,  4,  4]], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7872340425531915

In [24]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(max_depth=10)
classifier.fit(X_train, y_train)
prediction = classifier.predict(X_test)
print (classifier.score(X_train, y_train))
print (classifier.score(X_test, y_test))

0.982078853046595
0.7978723404255319

In [25]:
filename = 'DecisionTree.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors= 3)
knn.fit(X_train, y_train)
print(knn.score(X_train, y_train))
prediction = knn.predict(X_test)
print(knn.score(X_test, y_test))
print(prediction)

0.910394265232975
0.8191489361702128
[1 0 1 0 0 0 0 0 0 1 2 1 1 1 0 0 0 2 0 0 0 0 0 0 0 1 0 0 0 1 2 0 0 0 1 0 1
 0 0 0 2 2 0 1 0 1 2 0 0 1 1 1 1 0 0 0 1 2 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0
 1 1 0 0 0 0 1 1 0 0 2 1 2 1 0 0 1 0 0 1]

In [27]:
filename = 'kNeighbours.pickle'
pickle.dump(knn, open(filename, 'wb'))